node_modules
node_modules/**
**/dist
**/.turbo
**/coverage
.DS_Store
.env*
packages/**/tsconfig.build.tsbuildinfo
app/**/tsconfig.build.tsbuildinfo

packages/**/tsconfig.tsbuildinfo
app/**/tsconfig.tsbuildinfo