version: '3.9'

services:
  n9n-server:
    build:
      context: .
      dockerfile: ./Dockerfile.cached
    container_name: n9n-server
    restart: unless-stopped
    env_file:
      - .env
    command:
      [
        'node',
        './apps/n9n/dist/index.js',
        'start-server',
        '--domain',
        '0.0.0.0:3000',
        '--siwe',
        '${SIWE_DOMAIN}',
        '--allowed-origins',
        '${ALLOWED_ORIGINS:-http://localhost:3000}',
        '--node-env',
        '${NODE_ENV}',
      ]
    ports:
      - 3000:3000
    environment:
      # override / ensure some defaults if not in .env
      NODE_ENV: ${NODE_ENV:-production}
      ELASTICSEARCH_INDEX: ${ELASTICSEARCH_INDEX:-n9n-server}
