services:
  redis:
    image: redis:7-alpine
    container_name: redis
    command: ['redis-server', '--requirepass', '${REDIS_PASSWORD}']
    ports:
      - '6379:6379'
    volumes:
      - redis-data:/data
    restart: unless-stopped

  rabbitmq:
    image: rabbitmq:3.13-management-alpine
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
    ports:
      - '5672:5672' # AMQP
      - '15672:15672' # HTTP management UI
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
    restart: unless-stopped

  postgres:
    image: postgres:16-alpine
    container_name: postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - '5432:5432'
    volumes:
      - postgres-data:/var/lib/postgresql/data
    restart: unless-stopped
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.15.0
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false # fine for local/dev
      - ES_JAVA_OPTS=-Xms512m -Xmx512m # tune if you have more/less RAM
      # Optional CORS so UIs can talk directly to ES if needed
      # - http.cors.enabled=true
      # - http.cors.allow-origin=*
      # - http.cors.allow-headers=X-Requested-With,Content-Type,Content-Length,Authorization
      # - http.cors.allow-methods=OPTIONS,HEAD,GET,POST,PUT,DELETE
    ports:
      - '9200:9200'
    volumes:
      - elastic-data:/usr/share/elasticsearch/data
    restart: unless-stopped
  kibana:
    image: docker.elastic.co/kibana/kibana:8.15.0
    container_name: kibana
    depends_on:
      - elasticsearch
    environment:
      ELASTICSEARCH_HOSTS: '["http://elasticsearch:9200"]'
    ports:
      - '5601:5601'
    volumes:
      - kibana-data:/usr/share/kibana/data
    restart: unless-stopped

volumes:
  redis-data:
  rabbitmq-data:
  postgres-data:
  elastic-data:
  kibana-data:
