version: '3.9'

services:
  n9n-server:
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: n9n-server
    restart: unless-stopped
    env_file:
      - .env
    command:
      [
        'node',
        './apps/n9n/dist/index.js',
        'start-server',
        '--domain',
        '0.0.0.0:3000',
        '--siwe',
        '${SIWE_DOMAIN}',
      ]
    ports:
      - 3000:3000
    environment:
      # override / ensure some defaults if not in .env
      NODE_ENV: ${NODE_ENV:-production}
      ELASTICSEARCH_INDEX: ${ELASTICSEARCH_INDEX:-n9n-server}

  n9n-worker-1:
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: n9n-worker-1
    restart: unless-stopped
    env_file:
      - .env
    command: ['node', 'apps/n9n/dist/index.js', 'start-worker', '--name', 'worker1']
    environment:
      NODE_ENV: ${NODE_ENV:-production}
      ELASTICSEARCH_INDEX: ${ELASTICSEARCH_INDEX:-n9n-worker-1}
    depends_on:
      - n9n-server

  n9n-worker-2:
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: n9n-worker-2
    restart: unless-stopped
    env_file:
      - .env
    command: ['node', 'apps/n9n/dist/index.js', 'start-worker', '--name', 'worker2']
    environment:
      NODE_ENV: ${NODE_ENV:-production}
      ELASTICSEARCH_INDEX: ${ELASTICSEARCH_INDEX:-n9n-worker-2}
    depends_on:
      - n9n-server
