services:
  n9n-worker:
    build:
      context: .
      dockerfile: ./Dockerfile
    restart: unless-stopped
    env_file:
      - .env
    command: ["sh", "-c", "
      WORKER_NAME=${HOSTNAME};
      ES_INDEX=n9n-${HOSTNAME};
      export ELASTICSEARCH_INDEX=$ES_INDEX;
      node apps/n9n/dist/index.js start-worker --name $WORKER_NAME
    "]